body{
    background-color: blueviolet;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

img{
    max-width: 120px;
    max-height: 120px;
}